{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="wrapper wrapper-content  animated fadeInRight article">
        <div class="row">
            <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            
                            <div class="search-form">
                                <form action="{{ path('searchHtml') }}" method="get">
                                    <div class="input-group">
                                        <input type="text" placeholder="请输入关键字" name="word" id="word" class="form-control input-lg" value="{% if result is not null %}{{result['word']}}{% endif %}">
                                        <div class="input-group-btn">
                                            <button class="btn btn-lg btn-primary" type="submit">
                                                搜索
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            {% if result is not null %}
                                
                                <h2>
                                    {% if result['total'] == 0 %}
                                        没有找到关于 <span class="text-navy">{{ result['word'] }}</span> 的文章
                                    {% else %}    
                                        已找到{{ result['total'] }}个关于 <span class="text-navy">{{ result['word'] }}</span> 的文章
                                    {% endif %}
                                </h2>
                                <small>查询时间 (0.23 秒)</small>

                                <div class="hr-line-dashed"></div>
                                <div id="div-result-search">
                                    {% include '@AppBundle/Resources/views/Search/resultPartial.html.twig' with {'resultSet': result['resultSet']} %}
                                </div>
                                <div id="div-pager-search">
                                    <div class="text-center">
                                        <div class="btn-group">
                                            {% set pageNumber = (result['total']/10)|round %}
                                            {% if pageNumber > 0 %}
                                                {% for i in 1..pageNumber %}
                                                    <button class="btn btn-white page-number {% if i == 1 %} active {% endif %}" id="button-id-{{i}}" onClick="searchPagerAjax(({{i}}-1)*10, {{search_article_number_results}}, '{% if result is not null %}{{result['word']}}{% endif %}','button-id-{{i}}');">{{i}}</button>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}

{% block js %}  
    {% javascripts output='js/compiled/search.js' 
            '@AppBundle/Resources/public/js/search.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var searchPagerAjaxUrl = '{{ path('searchResult') }}';
    </script>
{% endblock %}        