{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="wrapper wrapper-content  animated fadeInRight article">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="ibox">
					<div class="ibox-content">
						<div class="pull-right">
						</div>
						<div class="text-center article-title">
							<h1>
								{{ article.title }}
							</h1>
							{% if user is not null %}
								<span class="text-muted"><i class="fa"></i> {{ user.username }} </span>
							{% endif %}
							<span class="text-muted"><i class="fa fa-clock-o"></i> {{ article.updatedAt|date("Y年m月d日") }} </span>
						</div>
						<p>
							{{ article.content|raw }}
						</p>
						<hr>
                        {% if preArticle is not null %}
						<h3>
							<p>上一篇:<a href="{{ path('singlePageTileHtml', {'id': preArticle.id, 'title': preArticle.title, '_format': 'html'}) }}">{{ preArticle.title }}</a></p>
						</h3>
						{% endif %}
						{% if nextArticle is not null %}
						<h3>
							<p>下一篇:<a href="{{ path('singlePageTileHtml', {'id': nextArticle.id, 'title': nextArticle.title, '_format': 'html'}) }}">{{ nextArticle.title }}</a></p>
						</h3>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
    