{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="wrapper wrapper-content  animated fadeInRight article">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            {% if articles[1] %}
                            <div class="col-lg-4 col-xs-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <i class="fa fa-info-circle"></i> {{ articles[1]['name'] }}
                                    </div>
                                    <div class="panel-body">
                                        <div class="media">
                                            <img class="media-object pull-left img-lg" src="/{{upload_directory}}{{category1_photo1_directory}}{{articles[1]['photo']}}" />

                                            <ul>
                                                {% for article in articles[1]['data'] %}
                                                <li>
                                                    <a href="{{ path('singlePageTileHtml', {'id': article['id'], 'title': article['title'], '_format': 'html'}) }}">{{ article['title'] }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                            {% if articles[2] %}
                            <div class="col-lg-4 col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <i class="fa fa-info-circle"></i> {{ articles[2]['name'] }}
                                    </div>
                                    <div class="panel-body">
                                        <ul>
                                            {% for article in articles[2]['data'] %}
                                            <li>
                                                <a href="{{ path('singlePageTileHtml', {'id': article['id'], 'title': article['title'], '_format': 'html'}) }}">{{ article['title'] }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                            {% if articles[3] %}
                            <div class="col-lg-4 col-xs-12">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <i class="fa fa-info-circle"></i> {{ articles[3]['name'] }}
                                    </div>
                                    <div class="panel-body">
                                        <ul>
                                            {% for article in articles[3]['data'] %}
                                            <li>
                                                <a href="{{ path('singlePageTileHtml', {'id': article['id'], 'title': article['title'], '_format': 'html'}) }}">{{ article['title'] }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>    
                        
                        <div class="row">
                            {% if articles[4] %}
                            <div class="col-lg-4 col-xs-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <i class="fa fa-info-circle"></i> {{ articles[4]['name'] }}
                                    </div>
                                    <div class="panel-body">
                                        <ul>
                                            {% for article in articles[4]['data'] %}
                                            <li>
                                                <a href="{{ path('singlePageTileHtml', {'id': article['id'], 'title': article['title'], '_format': 'html'}) }}">{{ article['title'] }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                            {% if articles[5] %}
                            <div class="col-lg-4 col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <i class="fa fa-info-circle"></i> {{ articles[5]['name'] }}
                                    </div>
                                    <div class="panel-body">
                                        <ul>
                                            {% for article in articles[5]['data'] %}
                                            <li>
                                                <a href="{{ path('singlePageTileHtml', {'id': article['id'], 'title': article['title'], '_format': 'html'}) }}">{{ article['title'] }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                            {% if articles[6] %}
                            <div class="col-lg-4 col-xs-12">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <i class="fa fa-info-circle"></i> {{ articles[6]['name'] }}
                                    </div>
                                    <div class="panel-body">
                                        <ul>
                                            {% for article in articles[6]['data'] %}
                                            <li>
                                                <a href="{{ path('singlePageTileHtml', {'id': article['id'], 'title': article['title'], '_format': 'html'}) }}">{{ article['title'] }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        
                        <div class="row">
                            {% if articles[7] %}
                            <div class="col-lg-4 col-xs-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <i class="fa fa-info-circle"></i> {{ articles[7]['name'] }}
                                    </div>
                                    <div class="panel-body">
                                        <ul>
                                            {% for article in articles[7]['data'] %}
                                            <li>
                                                <a href="{{ path('singlePageTileHtml', {'id': article['id'], 'title': article['title'], '_format': 'html'}) }}">{{ article['title'] }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                        </div>
                    </div>    
                </div>    
            </div>
        </div>
                            
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="http://bbs.utoconsult.com/forum.php">交流平台</a></h3>
                            </div>
                            <div class="panel-body">    
                            <ul style="">
                                <li>
                                <a href="http://bbs.utoconsult.com/forum.php?mod=forumdisplay&amp;fid=61">
                                    <b><img src="/uploads/forum/icon/common_61_icon.png"></b>
                                    技术交流
                                </a>
                                </li>
                                <li>
                                <a href="http://bbs.utoconsult.com/forum.php?mod=forumdisplay&amp;fid=44">
                                    <b><img src="/uploads/forum/icon/common_44_icon.png"></b>
                                    设计咨询
                                </a>
                                </li>
                                <li>
                                <a href="http://bbs.utoconsult.com/forum.php?mod=forumdisplay&amp;fid=59">
                                    <b><img src="/uploads/forum/icon/common_59_icon.png"></b>
                                    冷库咨询
                                </a>
                                </li>
                                <li>
                                <a href="http://bbs.utoconsult.com/forum.php?mod=forumdisplay&amp;fid=60">
                                    <b><img src="/uploads/forum/icon/common_60_icon.png"></b>
                                    工程施工
                                </a>
                                </li>
                                <li>
                                <a href="http://bbs.utoconsult.com/forum.php?mod=forumdisplay&amp;fid=37">
                                    <b><img src="/uploads/forum/icon/common_37_icon.png"></b>
                                    材料集汇
                                </a>
                                </li>
                                <li>
                                <a href="http://bbs.utoconsult.com/forum.php?mod=forumdisplay&amp;fid=68">
                                    <b><img src="/uploads/forum/icon/common_68_icon.png"></b>
                                    施工方法
                                </a>
                                </li>
                                <li>
                                <a href="http://bbs.utoconsult.com/forum.php?mod=forumdisplay&amp;fid=70">
                                    <b><img src="/uploads/forum/icon/common_70_icon.png"></b>
                                    设备集汇
                                </a>
                                </li>
                                <li>
                                <a href="http://bbs.utoconsult.com/forum.php?mod=forumdisplay&amp;fid=71">
                                    <b><img src="/uploads/forum/icon/common_71_icon.png"></b>
                                    安装配合
                                </a>
                                </li>
                                <li>
                                <a href="http://bbs.utoconsult.com/forum.php?mod=forumdisplay&amp;fid=58">
                                    <b><img src="/uploads/forum/icon/common_58_icon.png"></b>
                                    置业交流
                                </a>
                                </li>
                                <li>
                                <a href="http://bbs.utoconsult.com/forum.php?mod=forumdisplay&amp;fid=57">
                                    <b><img src="/uploads/forum/icon/common_57_icon.png"></b>
                                    海外置业
                                </a>
                                </li>



                                <li>
                                <a href="http://bbs.utoconsult.com/forum.php?mod=forumdisplay&amp;fid=56">
                                    <b><img src="/uploads/forum/icon/common_56_icon.png"></b>
                                    装修承包
                                </a>
                                </li>
                                <li>
                                <a href="http://bbs.utoconsult.com/forum.php?mod=forumdisplay&amp;fid=65">
                                    <b><img src="/uploads/forum/icon/common_65_icon.png"></b>
                                    厨卫设计
                                </a>
                                </li>
                                <li>
                                <a href="http://bbs.utoconsult.com/forum.php?mod=forumdisplay&amp;fid=76">
                                    <b><img src="/uploads/forum/icon/common_76_icon.png"></b>
                                    五金门窗
                                </a>
                                </li>
                                <li>
                                <a href="http://bbs.utoconsult.com/forum.php?mod=forumdisplay&amp;fid=78">
                                    <b><img src="/uploads/forum/icon/common_78_icon.png"></b>
                                    项目管理
                                </a>
                                </li>
                                <li>
                                <a href="http://bbs.utoconsult.com/forum.php?mod=forumdisplay&amp;fid=62">
                                    <b><img src="/uploads/forum/icon/common_62_icon.png"></b>
                                    工程保险
                                </a>
                                </li>
                                <li>
                                <a href="http://bbs.utoconsult.com/forum.php?mod=forumdisplay&amp;fid=63">
                                    <b><img src="/uploads/forum/icon/common_63_icon.png"></b>
                                    工程保函
                                </a>
                                </li>


                            </ul>
                            </div>
                        </div>
                        
                    </div>    
                </div>    
            </div>
        </div>    
    </div>
{% endblock %}    