<div class="navbar">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav navbar-nav">
            {% if app.session.get('categories') %}
                {% set categories = app.session.get('categories') %}
                {% for category1 in categories['categories1'] %}
                    {% set categories2 = categories['categories2'][category1.id] %}
                    <li class="dropdown">
					    {% if category1.id == 9 %}
							 <a href="http://bbs.utoconsult.com">{{ category1.name }}</a>
						{% else %}
							<a href="{{ path('category1NameHtml', {'id': category1.id,'name': category1.name, '_format': 'html'}) }}">{{ category1.name }}{% if categories2|length > 0 %}<b class="caret"></b>{% endif %}</a>
							{% if categories2|length > 0 %}
								<ul class="dropdown-menu">
								{% for category2 in categories2 %}
									<li>
										<a href="{{ path('category2NameHtml', {'id': category2.id,'name': category2.name, '_format': 'html'}) }}">{{ category2.name }}</a>
									</li>
								{% endfor %}
								</ul>
							{% endif %}
						{% endif %}
                    </li>     
                {% endfor %}
            {% endif %}    
        </ul>
      </div>    
    </div>
</div>